body{
    background-color: #AEDFF2;
}
.div-left{
    float:left;
   padding-left:10px; 
}
.div-right{
    float:right;
    padding-right:10px;
}
.conteiner{
    height:100px;
    border:1px solid salmon;
    padding-top:5px;
    width: auto;
}.copy{
    background-color:#011640;
    text-align:center;
    height: 100px;
    width:auto;
    border:1px solid salmon;
    padding-top:5px;
}footer{
text-align: center;
color: red;
width: auto;
}
