body {
    padding:0;
    margin: 0;
    background-color:#BFBFC7;
}
footer{
    text-align: center;
    color: #F29580;
    font-style: italic;

}
#home{
    width: auto;
    text-align: right;
}
#logo{
    width:auto;
text-align: left;
}

#h3{
color:#4E2559;

    }
#titulo{
    background-color:#d8c5de;
height: 120px;

    }
            
            #footer{
                height: 50px;
                width: auto;
                    background-color: #141726;
                    
                    
                        }
                        #corpo{
                            width: auto;
                            background-color:#34BF98;
                            height:500px;
                        }
            